body {
	margin: 0;
	padding: 0;
	text-decoration: none;
	background-color: $primary-color;
    @include font-standard(14px, bold);
}
*, :after, :before {
	box-sizing: border-box;
}
html {
	line-height: 1.15;
}
li {
	list-style: none;
}
