p {
	line-height: 1.5; 
}
.container {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	&-started {
		display: flex;
		width: 50%;
		flex-direction: column;
		background-color: $additional-color;
		justify-content: center;
		text-align: center;
	}
	&_title {
		font-weight: 600;
		font-size: 24px;
	}
	&_description {
		font-weight: normal;
		font-size: 18px;
		margin-left: 70px;
        margin-right: 70px;
	}
	&_botton {
		margin-left: auto;
		margin-right: auto;
		display: inline;
		font-weight: normal;
		font-size: 14px;
		line-height: 1.5;
		background-color: $secondary-color;
		color: $primary-color;
		padding: 15px 40px;
		text-transform: capitalize;
		text-decoration: none;
		&:hover {
			background-color: #313131;
		}
	}
	&_about-howWeFixedItSection {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	&_about-title {
		padding-top: 30px;
		font-weight: 600;
		font-size: 24px;
	}
	&_about-description {
		font-weight: normal;
		font-size: 18px;
	}
	&-experience {
		display: flex;
		width: 50%;
		flex-direction: column;
		background-color: $primary-color;
		justify-content: center;
		text-align: center;
	}
	&-whatSetsUsApart {
		display: flex;
		flex-direction: column;
		text-align: center;
		background-color: $additional-color;
		padding-bottom: 30px;
	}
	&_about-list {
		display: flex;
		flex-wrap: wrap;
	}
	&_about-details {
		flex: 1 1 33.33%;
		min-width: 350px;
		display: flex;
		flex-direction: column;
	}
	&-position {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		width: 120px;
		height: 120px;
	}
	&_quantity {
		font-weight: normal;
		font-size: 140px;
	}
	&_location {
		font-weight: normal;
		font-size: 40px;
		margin-bottom: 30px;
	}
}
.container_component-imgix {
	position: relative;
	overflow: hidden;
	text-align: center;
	z-index: -1;
}
.hero-container {
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
	max-width: 900px;
	position: absolute;
	width: 60%;
}

