@media (max-width: 1000px) { 
	.logo {
	    font-size: 28px;
	}
	.burger-menu {
		display: inline-block;
		cursor: pointer;
		width: 30px;
		padding-left: 10px;
	}
	.category-scroll {
    	overflow-x: auto;
        white-space: nowrap;
        overflow-y: hidden;
        line-height: 1.15;
        padding-left: 16px;
        height: 80px; 
    }
    .search-adaptive {
		display: inline-block;
		position: absolute;
		cursor: pointer;
		left: 50px;
		top: 18px;
		width: 23px;
	}
	.location {
		display: none;
	}
	.search-container {
		display: none;
	}
	.search {
		display: none;
	}
	.discount {
		display: none;
	}
	.categories {
		display: none;
	}
	.content-main__navigation {
		display: none;
	}
	.label {
		display: none;
	}
	.markdown {
		width: 100%;
		padding: 20px;
	}
	.blog {
		border-bottom: 1px solid $footer-color;
	}
	.container_footer {
		flex-direction: column;
        padding: 0 32px 24px;  
	}
	.container_social {
		padding: 24px 0;
		border-bottom: 1px solid #c9c9c9;
		width: 100%;
	}
	.container_footer {
		flex-direction: column;
        padding: 0 32px 24px;  
	}
	.icons {
		margin-top: 20px;
	}
	.container_social {
		border-bottom: 1px solid #c9c9c9;
		width: 100%;
	}
	.container_footer-social {
		padding: 15px 0;
		width: 100%;
	}
	.email {
		padding: 15px 0 0;
		width: 100%;
	}
	.links {
		border-bottom: 1px solid #c9c9c9;
		width: 100%;
		padding-bottom: 15px;
	}
	.blog {
		border-bottom: 1px solid $footer-color;
		padding-right: 0;
		padding-bottom: 20px;
	}
	.address {
		width: 100%;
	}

}

@media (max-width: 600px) {
	.feature-container {
	    flex: 0 0 48%;
    }
    .category-scroll {
    	overflow-x: auto;
        white-space: nowrap;
        overflow-y: hidden;
        line-height: 1.15;
        padding-left: 16px;
        height: 80px;
    }
    .pill-item {
    	font-weight: normal;
    	font-size: 14px;
    }
    .container {
    	flex-direction: column;
    }
    .component_imgix-man {
    	width: 100%;
    }
    .container-started {
    	width: 100%;
    	height: 500px;
    }
    .container-experience {
    	width: 100%;
    }
    .hero-title {
    	font-size: 25px;
    }
    .container_title {
    	margin-top: 20px;
    }
    .container_botton {
    	margin-bottom: 20px;
    }
}
