.content-main__navigation {
	display: block;
	flex: 0 0 18%;
	position: sticky;
	height: 100%;
	top: 30px;
	padding-bottom: 80px; 
}
.vertical-nav-list {
	margin: 0;
	padding: 0;
	& li a:hover {
		text-decoration: underline;
	}
}
.item_link {
	display: block;
	padding: 4px 0;
	color: $secondary-color;
	font-weight: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 1.5;
	font-weight: 400;
	margin-bottom: 4px;
	width: 100%;
	border: none;
	background: none;
	text-align: left;
	padding-right: 25px;
	text-decoration: none;
}
.item-children-open {
	overflow: visible;
	max-height: 0;
	transition: all .4s ease-in-out;
	margin: 0;
	padding: 0;
}
.text_tree {
	display: list-item;
}
.text-link_tree {
	display: block;
	padding: 4px 0;
	color: $secondary-color;
    font-weight: normal;
	font-size: 13px;
	line-height: 1.5;
	margin-bottom: 4px;
	text-decoration: none;
}
.text-link-selected_tree {
	display: block;
	padding: 4px 0;
	color: $secondary-color;
	font-weight: normal;
	font-size: 13px;
	line-height: 1.5;
	margin-bottom: 4px;
}