.content-main__features {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&-component {
		display: block;
	}
}
.sweatshirt:hover {
	background-image: url("img/KNIT-CASUAL-SHIRT_CREWNECK-KNIT-SHIRT_24676-BK623_2_hover.jpg");
}
.feature-container {
	flex: 0 0 32%;
	.medium_pic {
		width: 100%;
	}
}
.medium_pic-invisible {
	visibility: hidden;
	position: absolute;
	width: 100%;
	left: 0;
	opacity: 0;
}
.img-responsive {
	position: relative;
	width: 100%;
	&:hover .button_appear {
		visibility: visible;
		opacity: .8;
	    transition: opacity .5s;
	    cursor: pointer;
	}
	&:hover .medium_pic-invisible {
		visibility: visible;
		opacity: 100;
	    transition: opacity .1s;
	    cursor: pointer;
	}
}
.button_appear {
	visibility: hidden;
	font-weight: 600;
	position: absolute;
    bottom: 0%;
    left: 0;
    bottom: 3px;
    width: 100%;
    color: $secondary-color;
    font-size: 15px;
    padding: 10px 10px 10px 16px;
    opacity: 0;
} 

.component_title {
	display: flex;
	justify-content: space-between;
	font-weight: 600;
	font-size: 15px;
	color: $secondary-color;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}
.price {
	 font-weight: normal;
	font-size: 14px;
	color: $secondary-color;
	text-decoration: none;
}
.feature {
	font-weight: normal;
	font-size: 13px;
	color: $secondary-color;
	text-decoration: none;
	padding-left: 10px;
}
.characteristic {
    font-weight: normal;
	font-size: 13px;
	display: block;
	color: $footer-color;
	text-decoration: none;
	padding-left: 10px;
}
.switch-selected {
	cursor: pointer;
	padding-left: 10px;
}
img.switch-selected:hover {
	width: 30px;
}
.switch {
	cursor: pointer;
	padding-left: 10px;
}
img.switch:hover {
	width: 30px;
}