.content-main {
	display: flex;
	padding: 0 3%;
	margin: 0 auto 16px;
	justify-content: space-between;
}
.markdown {
	font-weight: normal;
	color: $secondary-color;
	border-top: 1px solid #e5e5e5;
	padding: 24px 32px 32px;
	width: 86%;
	height: auto;
	margin-left: auto;
	margin-right: 0;
	line-height: 1.5;
}
