.menu-categories {
	display: flex;
	justify-content: center;
	opacity: 1;
}
.categories {
	display: flex;
    justify-content: center; 
    margin-top: 10px;
    opacity: 1;
    z-index: 3; 
	&_1 { 
    height: 40px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	margin: 10px;
	color: $secondary-color;
    }
    &_2 {
    height: 40px; 
	font-weight: normal;
	text-align: center;
	margin: 10px;
	text-decoration: none;
	color: $secondary-color;
    }
    &_3 { 
    height: 40px;
	font-weight: normal;
	text-align: center;
	margin: 10px;
	text-decoration: none;
	color: $secondary-color;
    }
    &_4 { 
    height: 40px;
	font-weight: normal;
	text-align: center;
	margin: 10px;
	text-decoration: none;
	color: $secondary-color;
    }
    &_5 {
    height: 40px; 
	font-weight: normal;
	text-align: center;
	margin: 10px;
	text-decoration: none;
	color: $secondary-color;
    }
    &_6 { 
    height: 40px;
	font-weight: normal;
	text-align: center;
	margin: 10px;
	text-decoration: none;
	color: $secondary-color;
    }
    &_7 { 
    height: 40px;
	font-weight: normal;
	text-align: center;
	margin: 10px;
	text-decoration: none;
	color: $secondary-color;
    }
    &_8 { 
    height: 40px;
	font-weight: normal;
	text-align: center;
	margin: 10px;
	text-decoration: none;
	color: $secondary-color;
    }
    &_9 { 
    height: 40px;
	font-weight: normal;
	text-align: center;
	margin: 10px;
	text-decoration: none;
	color: $secondary-color;
    }
}

div .categories_1, .categories_2, .categories_3, .categories_4, .categories_5, .categories_6,
    .categories_7, .categories_8, .categories_9 {
	    color: $secondary-color;
    }
a {
	color: $secondary-color; 
}
.categories_1:hover {
	border-bottom: 1px solid $secondary-color;
    cursor: pointer;
}
.categories_2:hover {
	border-bottom: 1px solid $secondary-color;
	cursor: pointer;
}
.categories_3:hover {
	border-bottom: 1px solid $secondary-color;
	cursor: pointer;
}
.categories_4:hover {
	border-bottom: 1px solid $secondary-color;
	cursor: pointer;
}
.categories_5:hover {
	border-bottom: 1px solid $secondary-color;
	cursor: pointer;
}
.categories_6:hover {
	border-bottom: 1px solid $secondary-color;
	cursor: pointer;
}
.categories_7:hover {
	border-bottom: 1px solid $secondary-color;
	cursor: pointer;
}
.categories_8:hover {
	border-bottom: 1px solid $secondary-color;
	cursor: pointer;
}
.categories_9:hover {
	border-bottom: 1px solid $secondary-color;
	cursor: pointer;
}

.dropdown-new, .dropdown-clothing, .dropdown-pants, .dropdown-shirts,
.dropdown-sweaters, .dropdown-suits, .dropdown-golf, .dropdown-accessories, .dropdown-sale {
	display: inline-block;
}

.new, .clothing, .pants, .shirts, .sweaters, .suits, .golf, .accessories, .sale {
	display: none;
	position: absolute;
	left: 0;
	justify-content: center;
	width: 100%;
	z-index: 10;
	background-color: $primary-color;
}

.dropdown-new:hover .new {
	display: flex;
}
.dropdown-clothing:hover .clothing {
	display: flex;
}
.dropdown-pants:hover .pants {
	display: flex;
}
.dropdown-shirts:hover .shirts {
	display: flex;
}
.dropdown-sweaters:hover .sweaters {
	display: flex;
}
.dropdown-suits:hover .suits {
	display: flex;
}
.dropdown-golf:hover .golf {
	display: flex;
}
.dropdown-accessories:hover .accessories {
	display: flex;
}
.dropdown-sale:hover .sale {
	display: flex;
}

.list_position {
	margin: 0;
	padding-right: 10px;
	& li {
		cursor: pointer;
		margin: 20px;
		text-align: right;
		&:hover {
			text-decoration: underline;
		}
	}
	& a {
	    text-decoration: none;
		color: $secondary-color;
		font-weight: normal;
	}
}
.list-title {
	text-decoration: none !important;
	cursor: auto !important;
	font-weight: bold;
}
.img_name {
	display: flex; 
	font-weight: normal;
	justify-content: center;
	position: relative;
	bottom: 200px;
	font-size: 20px;
	text-align: center;
	text-shadow: 1px 1px 6px $secondary-color;
	color: $primary-color;
}
.line {
	margin-top: 14px;
	margin-bottom: 40px;
	border-left: 1px solid #ccc;
}
